@model IEnumerable<CollegeProject.Models.AgentTaskModel>

@{
    ViewData["Title"] = "GetPastVendorListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetPastVendorListView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="width:100%;height:60vh;">
    <table class="table table-bordered table-striped table-hover  mb-2" id="table1">
        <thead>
            <tr>
                <th>
                    OrderId
                </th>
                <th>
                    CustomerName
                </th>
                <th>
                    CustomerAddress
                </th>
                <th>
                    CustomerNumber
                </th>
                <th>
                    ReceiverAgentName
                </th>
                <th>
                    ReceiverAgentPhone
                </th>
                <th>
                    DeliveryAgentPhone
                </th>
                <th>
                    DeliveryAgentPhone
                </th>
                <th>
                    DeliveryStatus
                </th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        GetVendorPastList();
    })

    function GetVendorPastList() {
        var CompanyId = @ViewBag.Id;
        debugger;

        $.ajax({
            url: '@Url.Action("GetPastVendorListJSON","VendorDashboard")',
            type: 'Get',
            data: {
                CompanyId: CompanyId
            },
            dataType: 'JSON',
            success: function (response) {
                if (response != null) {
                    var row = '';
                    for (var i = 0; i < response.length; i++) {
                        row += `<tr>
                                            <td>${response[i].orderId}</td>
                                            <td>${response[i].customerName}</td>
                                            <td>${response[i].customerAddress}</td>
                                            <td>${response[i].customerPhone}</td>
                                            <td>${response[i].receiverAgentName}</td>
                                            <td>${response[i].receiverAgentPhone}</td>
                                            <td>${response[i].deliveryAgentName}</td>
                                            <td>${response[i].deliveryAgentPhone}</td>
                                            <td>${response[i].deliveryStatus}</td>
                                      </tr>

                            `;
                        $("#table1 tbody").html(row);

                    }
                    $("#table1").DataTable({
                        "scrollX": true,    // Enable horizontal scrolling
                        "paging": false,    // Disable paging, as horizontal scrolling will handle navigation
                        "scrollCollapse": true,
                        "scrollY": '60vh'

                    });
                }
            },
            error: function (xhr, status, error) {
                alert("Error Occured!!!");
            }
        })
    }
</script>